[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=maailmankuvia
Exec=/opt/maailmankuvia/bin/maailmankuvia
Icon=maailmankuvia64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
